#login{
    background-color: #17a2b8;
    height: 90vh;
}
  #login .container #login-row #login-column #login-box {
    max-width: 500px;
    height: 456px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
    margin-top: 50px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }