
        <div class="site-content" id="content">
            <div class="container">
                <div class="content-area">
                    <div class="hp-page site-main">
                        <div class="hp-row">
                            <aside class="hp-page__sidebar hp-col-sm-4 hp-col-xs-12 site-sidebar"
                                data-component="sticky">
                                <nav class="hp-widget widget widget_nav_menu hp-menu hp-menu--user-account">
                                    <ul>
                                        <li class="hp-menu__item hp-menu__item--current current-menu-item"><a
                                                href="#"><span>Annonces</span></a>
                                        </li>
                                        <li class="hp-menu__item "><a
                                                href="#"><span>Favoris</span></a>
                                        </li>
                                        <li class="hp-menu__item "><a
                                                href="#"><span>Messages</span></a>
                                        </li>
                                        <li class="hp-menu__item "><a
                                                href="#"><span>Paramètres</span></a>
                                        </li>
                                        <li class="hp-menu__item "><a
                                                routerLink=""><span>Se déconnecter
                                                </span></a></li>
                                    </ul>
                                </nav>
                            </aside>
                            <main class="hp-page__content hp-col-sm-8 hp-col-xs-12">
                                <h1 class="hp-page__title">Annonces</h1>
                                <table class="hp-listings hp-block hp-table">
                                    <tr class="hp-listing hp-listing--edit-block">
                                        <td class="hp-listing__title">
                                            <a href="#"
                                                class="hp-link"><i class="hp-icon fas fa-edit"></i><span>Belle Maison près de la mer
                                                    </span></a>
                                        </td>
                                        <td class="hp-listing__categories">
                                            Maisons</td>
                                        <td class="hp-listing__created-date hp-listing__date">
                                            <time datetime="2021-06-19 20:18:07">06/15/2021</time>
                                        </td>
                                        <td class="hp-listing__status hp-status hp-status--publish"></td>
                                        <td class="hp-listing__actions hp-listing__actions--primary"> <a
                                                href="#" title="View"
                                                class="hp-listing__action hp-listing__action--view hp-link"><i
                                                    class="hp-icon fas fa-eye"></i></a></td>
                                    </tr>
                                    <tr class="hp-listing hp-listing--edit-block">
                                        <td class="hp-listing__title">
                                            <a href="#"
                                                class="hp-link"><i class="hp-icon fas fa-edit"></i><span>Maison Spacieuse</span></a>
                                        </td>
                                        <td class="hp-listing__categories">
                                            Maisons</td>
                                        <td class="hp-listing__created-date hp-listing__date">
                                            <time datetime="2021-06-19 20:17:51">06/19/2021</time>
                                        </td>
                                        <td class="hp-listing__status hp-status hp-status--publish"></td>
                                        <td class="hp-listing__actions hp-listing__actions--primary"> <a
                                                href="#" title="View"
                                                class="hp-listing__action hp-listing__action--view hp-link"><i
                                                    class="hp-icon fas fa-eye"></i></a></td>
                                    </tr>
                                    <tr class="hp-listing hp-listing--edit-block">
                                        <td class="hp-listing__title">
                                            <a href="#"
                                                class="hp-link"><i
                                                    class="hp-icon fas fa-edit"></i><span>Appartement prés de la gare</span></a>
                                        </td>
                                        <td class="hp-listing__categories">
                                            Appartemnts</td>
                                        <td class="hp-listing__created-date hp-listing__date">
                                            <time datetime="2021-06-19 20:17:32">06/12/2021</time>
                                        </td>
                                        <td class="hp-listing__status hp-status hp-status--publish"></td>
                                        <td class="hp-listing__actions hp-listing__actions--primary"> <a
                                                href="#" title="View"
                                                class="hp-listing__action hp-listing__action--view hp-link"><i
                                                    class="hp-icon fas fa-eye"></i></a></td>
                                    </tr>

                                    <tr class="hp-listing hp-listing--edit-block">
                                        <td class="hp-listing__title">
                                            <a href="#"
                                                class="hp-link"><i
                                                    class="hp-icon fas fa-edit"></i><span>Appartement prés de la gare</span></a>
                                        </td>
                                        <td class="hp-listing__categories">
                                            Appartemnts</td>
                                        <td class="hp-listing__created-date hp-listing__date">
                                            <time datetime="2021-06-19 20:17:32">06/07/2021</time>
                                        </td>
                                        <td class="hp-listing__status hp-status hp-status--publish"></td>
                                        <td class="hp-listing__actions hp-listing__actions--primary"> <a
                                                href="#" title="View"
                                                class="hp-listing__action hp-listing__action--view hp-link"><i
                                                    class="hp-icon fas fa-eye"></i></a></td>
                                    </tr>

                                    <tr class="hp-listing hp-listing--edit-block">
                                        <td class="hp-listing__title">
                                            <a href="#"
                                                class="hp-link"><i
                                                    class="hp-icon fas fa-edit"></i><span>Maison avec piscine</span></a>
                                        </td>
                                        <td class="hp-listing__categories">
                                            Maisons</td>
                                        <td class="hp-listing__created-date hp-listing__date">
                                            <time datetime="2021-06-19 20:17:32">05/30/2021</time>
                                        </td>
                                        <td class="hp-listing__status hp-status hp-status--publish"></td>
                                        <td class="hp-listing__actions hp-listing__actions--primary"> <a
                                                href="#" title="View"
                                                class="hp-listing__action hp-listing__action--view hp-link"><i
                                                    class="hp-icon fas fa-eye"></i></a></td>
                                    </tr>
                                   
                                </table>
                                <nav class="hp-pagination"></nav>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
  






    
    <footer class="site-footer">
        <div class="container">
            <div class="footer-widgets">
                <div class="row">
                    <div class="col-sm col-xs-12">
                        <div id="text-2" class="widget widget--footer widget_text">
                            <div class="textwidget"><br>
                                <p><img src="/assets/img/logo.png"
                                        alt="ListingHive" /></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-xs-12"><br><br>
                        <p>Maisons, appartements triés<br> sur le coup à long terme.</p>    
                    </div>

                    <div class="col-sm col-xs-12">
                        <div id="nav_menu-2" class="widget widget--footer widget_nav_menu">
                            <h5 class="widget__title">Annonces</h5>
                            <div class="menu-listing-categories-container">
                                <ul id="menu-listing-categories" class="menu">
                                    <li id="menu-item-164"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-hp_listing_category menu-item-164">
                                        <a href="https://demo.hivepress.io/listing-category/houses/">Maisons</a></li>
                                    <li id="menu-item-165"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-hp_listing_category menu-item-165">
                                        <a href="https://demo.hivepress.io/listing-category/apartments/">Apartments</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm col-xs-12">
                        <div id="nav_menu-3" class="widget widget--footer widget_nav_menu">
                            <h5 class="widget__title">Réseaux sociaux</h5>
                            <div class="menu-social-links-container">
                                <ul id="menu-social-links" class="menu">
                                    <li id="menu-item-167"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167"><a
                                            href="#">Facebook</a></li>
                                    <li id="menu-item-168"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-168"><a
                                            href="#">Twitter</a></li>
                                    <li id="menu-item-169"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-169"><a
                                            href="#">LinkedIn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-navbar">
                <div class="footer-navbar__start">
                    <div class="footer-navbar__copyright">
                        © 2021 IMMO+</div>
                </div>
                <div class="footer-navbar__end">
                    <nav class="footer-navbar__menu">
                        <ul id="menu-footer-menu" class="menu">
                            <li id="menu-item-85"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a
                                    href="https://demo.hivepress.io/terms-of-use/">Tous droits reservés</a></li>
                     </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>


    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/22eb0.js?ac2dd' id='serializejson-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/18bf6.js?9b19f' id='jquery-ui-core-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/2b5c1.js?fdf79' id='jquery-ui-mouse-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/3b47e.js?52800'
        id='jquery-ui-touch-punch-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/a7d53.js?9d289' id='iframe-transport-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/d7d89.js?e3625' id='fileupload-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/b4b87.js?18fc9' id='fancybox-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/f8edb.js?c4e0a' id='slick-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/d9fbb.js?01cd8' id='sticky-sidebar-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/038b6.js?83c64' id='php-date-formatter-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/2ade4.js?88ab4' id='flatpickr-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/cc87d.js?9244b' id='select2-full-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/8b72d.js?ee99d' id='jquery-ui-sortable-js'></script>
    <script type='text/javascript' id='hivepress-core-js-extra'>/*  */
        var hivepressCoreData = { "apiURL": "https:\/\/demo.hivepress.io\/wp-json\/hivepress\/v1", "apiNonce": "54d221b2c7", "language": "en" };
    /*  */</script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/7c071.js?9c93a' id='hivepress-core-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/e9e11.js?9d590' id='jquery-ui-slider-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/9f1d5.js?29ed8' id='imagesloaded-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/6f150.js?355ce'
        id='hivepress-core-frontend-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/09781.js?c75f5' id='geocomplete-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/2d00a.js?0d72d' id='markerclustererplus-js'></script>
    <script type='text/javascript' id='hivepress-geolocation-js-extra'>/*  */
        var hivepressGeolocationData = { "assetURL": "https:\/\/demo.hivepress.io\/wp-content\/plugins\/hivepress-geolocation\/assets" };
    /*  */</script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/ee66d.js?04454'
        id='hivepress-geolocation-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/f5087.js?f5318' id='raty-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/f378a.js?69577'
        id='hivepress-reviews-frontend-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/97859.js?f8c03' id='select2-en-js'></script>
    <script type='text/javascript'
        src='https://maps.googleapis.com/maps/api/js?libraries=places&#038;callback=hivepress.initGeolocation&#038;key=AIzaSyDIUOl3mIUtNwuZKdohLFQQYTvi9YR6rr4&#038;language=en&#038;region=US'
        id='google-maps-js' async defer></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/5f662.js?16496' id='focus-visible-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/27deb.js?a6f90' id='fitvids-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/343bb.js?9eb16' id='hoverIntent-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/dc9b0.js?b234a' id='comment-reply-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/0fab1.js?d44de'
        id='hivetheme-core-frontend-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/33c43.js?760cf'
        id='hivetheme-parent-frontend-js'></script>
    <script data-optimized="1" type='text/javascript'
        src='https://demo.hivepress.io/wp-content/litespeed/cssjs/5c099.js?01031' id='wp-embed-js'></script>
