<div class="site-loader" data-component="loader">
    <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="gradient">
                <stop stop-color="#ffc107" stop-opacity="0" offset="0%" />
                <stop stop-color="#ffc107" stop-opacity=".631" offset="63.146%" />
                <stop stop-color="#ffc107" offset="100%" />
            </linearGradient>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)">
                <path d="M36 18c0-9.94-8.06-18-18-18" stroke="url(#gradient)" stroke-width="3"></path>
                <circle fill="#fff" cx="36" cy="18" r="1"></circle>
            </g>
        </g>
    </svg>
</div>
<a href="#content" class="skip-link screen-reader-text">Skip to content</a>
<div class="site-container">
    <header class="site-header">
        <div class="header-navbar">
            <div class="header-navbar__start">
                <div class="header-logo">
                    <a href="*" class="custom-logo-link" rel="home"
                        aria-current="page"><img id="logo" src="../../assets/img/logo (1).png"
                            class="custom-logo" alt="ListingHive" height="40" width="177" /></a>
                </div>
            </div>
            <div class="header-navbar__end">
                <div class="header-navbar__burger" data-component="burger">
                    <a href="#"><i class="fas fa-bars"></i></a>
                    <ul id="menu-header-menu" class="menu">
                        <li id="menu-item-16"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-16">
                            <a routerLink="acceuil" aria-current="page">Acceuil</a></li>
                        <li id="menu-item-15"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a
                                routerLink="recherche">Recherche</a></li>
                        
        
                    </ul>
                </div>
                <nav class="header-navbar__menu" data-component="menu">
                    <ul id="menu-header-menu-1" class="menu">
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-16">
                            <a routerLink="acceuil" aria-current="page">Acceuil</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a
                                routerLink="recherche">Recherche</a></li>
                    </ul>
                </nav>
                <div class="header-navbar__actions">
                    <div class="hp-menu hp-menu--site-header hp-menu--main"> <a routerLink="signin"
                            class="hp-menu__item hp-menu__item--user-login hp-link">
                            <i class="hp-icon fas fa-sign-in-alt"></i>
                            <span>Connexion</span>
                        </a>
                        <button type="button"
                            class="hp-menu__item hp-menu__item--listing-submit button button--secondary"
                            data-component="link" data-url="https://demo.hivepress.io/submit-listing/"><i class="bi bi-plus-lg"></i>
                            <span>Ajouter annonace</span></button>
                    </div>
                </div>
            </div>
        </div>